// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

$header-font-size: .8em;
$header-padding-top: 4em;
$header-padding-bottom: 4em;

$max-width: 1000px !default;